*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin-top: 100px;
    background-color: rgb(101, 101, 221);
    height: 100vh;
}

h1{
    text-align: center;
    position: relative;
    margin: 10px 10px 20px 10px;
    color: #fff;
    background: rgb(113, 121, 136);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
}

#container{
    width: 40%;
    top: 50%;
    left: 50%;
    background: #fff;
    border: solid 5px rgb(113, 121, 136);
    border-radius: 10px;
    position: absolute;
    min-height: 100px;
    min-width: 450px;
    transform: translate(-50%, -50%);
}

#add{
    position: relative;
    padding: 30px 20px;
}

#addToDo {
    width: 75%;
    color: rgb(113, 121, 136);
    height: 45px;
    padding: 12px;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid rgb(113, 121, 136);
}
#addToDo:focus{
    outline: none;
    border-color: rgb(101, 101, 221);
}
#addButton{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background: rgb(101, 101, 221);
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
}

#list{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 10px;    
}


.tache{
    border-radius: 5px;
    align-items: center;
    border: 1px solid rgb(113, 121, 136);
    cursor: pointer;
    background-color: rgb(222, 222, 231);
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;    
    justify-content: space-between;
}


.tache button{
    margin: 5px 5px 5px 5px;
    background-color: rgb(101, 101, 221);
    color: rgb(251, 251, 251);
    border: none;
    cursor: pointer;
    outline: none;
    height: 35px;
    width: 40px;
    border-radius: 5px;
;}

#aucuneTache{
    display: block;
}